<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.customer.first.infrastructure.db.edongfang.mapper.base.EdongfangRefundItemsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="thriving.softwood.customer.first.infrastructure.db.edongfang.entity.base.EdongfangRefundItems">
        <id column="pk" property="pk"/>
        <result column="parent" property="parent"/>
        <result column="sku" property="sku"/>
        <result column="num" property="num"/>
        <result column="price" property="price"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="cu" property="cu"/>
        <result column="signed_count" property="signedCount"/>
        <result column="signed_amount" property="signedAmount"/>
        <result column="return_count" property="returnCount"/>
        <result column="return_amount" property="returnAmount"/>
        <result column="e_order_id" property="eOrderId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pk, parent, sku, num, price, create_by, create_time, update_by, update_time, deleted, tenant_id, cu,
        signed_count, signed_amount, return_count, return_amount, e_order_id
    </sql>

</mapper>
