<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.kaishi.infrastructure.db.edongfang.mapper.base.EdongfangProductStocksMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="thriving.softwood.kaishi.infrastructure.db.edongfang.entity.base.EdongfangProductStocks">
        <id column="pk" property="pk"/>
        <result column="sku" property="sku"/>
        <result column="num" property="num"/>
        <result column="area" property="area"/>
        <result column="`desc`" property="desc"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="cu" property="cu"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pk, sku, num, area, `desc`, create_by, create_time, update_by, update_time, deleted, tenant_id, cu
    </sql>

</mapper>
