<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.kaishi.infrastructure.db.edongfang.mapper.base.EdongfangOrderStubMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="thriving.softwood.kaishi.infrastructure.db.edongfang.entity.base.EdongfangOrderStub">
        <id column="id" property="id"/>
        <result column="e_order_id" property="eOrderId"/>
        <result column="last_submit_state" property="lastSubmitState"/>
        <result column="last_status" property="lastStatus"/>
        <result column="last_receive_time" property="lastReceiveTime"/>
        <result column="shipped_flag" property="shippedFlag"/>
        <result column="preorder_notified" property="preorderNotified"/>
        <result column="consult_result_notified" property="consultResultNotified"/>
        <result column="confirm_receipt_notified" property="confirmReceiptNotified"/>
        <result column="order_price" property="orderPrice"/>
        <result column="purchaser" property="purchaser"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, e_order_id, last_submit_state, last_status, last_receive_time, shipped_flag, preorder_notified,
        consult_result_notified, confirm_receipt_notified, order_price, purchaser, name, create_time, update_time
    </sql>
</mapper>
