receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

exporters:
  zipkin:
    endpoint: "http://host.docker.internal:9411/api/v2/spans"
  logging:
    verbosity: normal

service:
  pipelines:
    traces:
      receivers: [ otlp ]
      exporters: [ logging, zipkin ]