<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.kaishi.infrastructure.db.master.mapper.extend.SysDeptExtendMapper">
    
    <select id="listDeptWithChildren"
            resultMap="thriving.softwood.kaishi.infrastructure.db.master.mapper.base.SysDeptMapper.BaseResultMap">
        WITH Tree AS (SELECT *
                      FROM sys_dept
                      where id = ${dept_id}
                      UNION ALL
                      SELECT t.*
                      FROM sys_dept t
                               INNER JOIN Tree ON t.parent_id = Tree.id)
        SELECT *
        FROM Tree
        WHERE deleted = 0
    </select>
</mapper>
