<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.kaishi.infrastructure.db.master.mapper.extend.SysPermissionExtendMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, permission_name, permission_code, permission_type, path, component, icon, sort_order, ext_info,
        deleted, last_modifier, create_time, update_time
    </sql>

    <select id="listMenuPermissionsByAccount"
            resultMap="thriving.softwood.kaishi.infrastructure.db.master.mapper.base.SysPermissionMapper.BaseResultMap">
        select
        <include
                refid="thriving.softwood.kaishi.infrastructure.db.master.mapper.base.SysPermissionMapper.Base_Column_List"/>
        from (SELECT sp.*
        FROM sys_permission sp
        WHERE sp.permission_type &lt; 3
        AND (
        -- 逻辑 A：当前用户是否拥有超级管理员角色
        EXISTS (
        SELECT 1
        FROM sys_user su
        JOIN sys_user_role sur ON su.id = sur.user_id
        JOIN sys_role sr ON sur.role_id = sr.id
        WHERE su.login_account = #{loginAccount}
        AND sr.role_code = 'SUPER_ADMIN'
        )
        OR
        -- 逻辑 B：如果不是超管，检查当前权限是否在用户的角色关联中
        EXISTS (
        SELECT 1
        FROM sys_user su
        JOIN sys_user_role sur ON su.id = sur.user_id
        JOIN sys_role_permission srp ON sur.role_id = srp.role_id
        WHERE su.login_account = #{loginAccount}
        AND srp.permission_id = sp.id
        )
        )
        ) as sp
        order by sp.parent_id, sp.sort_order
    </select>

</mapper>
