<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.kaishi.infrastructure.db.master.mapper.base.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="thriving.softwood.kaishi.infrastructure.db.master.entity.base.SysUser">
        <id column="id" property="id" />
        <result column="login_account" property="loginAccount" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="dept_id" property="deptId" />
        <result column="permission_version" property="permissionVersion" />
        <result column="status" property="status" />
        <result column="login_time" property="loginTime" />
        <result column="last_password" property="lastPassword" />
        <result column="ext_info" property="extInfo" />
        <result column="deleted" property="deleted" />
        <result column="last_modifier" property="lastModifier" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_account, username, password, dept_id, permission_version, status, login_time, last_password, ext_info, deleted, last_modifier, create_time, update_time
    </sql>

</mapper>
