<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.customer.first.infrastructure.db.kaishi2026.mapper.base.GblVchtypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="thriving.softwood.customer.first.infrastructure.db.kaishi2026.entity.base.GblVchtype">
        <result column="vchtype" property="vchtype"/>
        <result column="name" property="name"/>
        <result column="fullname" property="fullname"/>
        <result column="comment" property="comment"/>
        <result column="typeid" property="typeid"/>
        <result column="parid" property="parid"/>
        <result column="leveal" property="leveal"/>
        <result column="sonnum" property="sonnum"/>
        <result column="soncount" property="soncount"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
        <result column="numberhead" property="numberhead"/>
        <result column="inputn" property="inputn"/>
        <result column="inputname1" property="inputname1"/>
        <result column="inputname2" property="inputname2"/>
        <result column="inputname3" property="inputname3"/>
        <result column="inputname4" property="inputname4"/>
        <result column="inputname5" property="inputname5"/>
        <result column="SNMax" property="sNMax"/>
        <result column="SNFormat" property="sNFormat"/>
        <result column="classno" property="classno"/>
        <result column="AuditingOrder" property="auditingOrder"/>
        <result column="AuditingType" property="auditingType"/>
        <result column="Summary" property="summary"/>
        <result column="stringno" property="stringno"/>
        <result column="dataareas" property="dataareas"/>
        <result column="maingridtype" property="maingridtype"/>
        <result column="othergridtype" property="othergridtype"/>
        <result column="mainsubjecttype" property="mainsubjecttype"/>
        <result column="othersubjecttype" property="othersubjecttype"/>
        <result column="summaryno" property="summaryno"/>
        <result column="ProcessGridType" property="processGridType"/>
        <result column="ProcessSubjectType" property="processSubjectType"/>
        <result column="cNdxTableName" property="cNdxTableName"/>
        <result column="cDlyTableName" property="cDlyTableName"/>
        <result column="Caption" property="caption"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        vchtype, name, fullname, comment
        , typeid, parid, leveal, sonnum, soncount, deleted, version, numberhead, inputn, inputname1, inputname2,
        inputname3, inputname4, inputname5, SNMax, SNFormat, classno, AuditingOrder, AuditingType, Summary, stringno,
        dataareas, maingridtype, othergridtype, mainsubjecttype, othersubjecttype, summaryno, ProcessGridType,
        ProcessSubjectType, cNdxTableName, cDlyTableName, Caption
    </sql>

</mapper>
