<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.customer.first.infrastructure.db.kaishi2026.mapper.base.PtypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="thriving.softwood.customer.first.infrastructure.db.kaishi2026.entity.base.Ptype">
        <result column="typeId" property="typeId"/>
        <result column="ParId" property="parId"/>
        <result column="leveal" property="leveal"/>
        <result column="sonnum" property="sonnum"/>
        <result column="soncount" property="soncount"/>
        <result column="CanModify" property="canModify"/>
        <result column="UserCode" property="userCode"/>
        <result column="FullName" property="fullName"/>
        <result column="Name" property="name"/>
        <result column="Standard" property="standard"/>
        <result column="Type" property="type"/>
        <result column="Area" property="area"/>
        <result column="Unit1" property="unit1"/>
        <result column="Unit2" property="unit2"/>
        <result column="UnitRate1" property="unitRate1"/>
        <result column="UnitRate2" property="unitRate2"/>
        <result column="preprice1" property="preprice1"/>
        <result column="preprice2" property="preprice2"/>
        <result column="preprice3" property="preprice3"/>
        <result column="preprice4" property="preprice4"/>
        <result column="UsefulLifeMonth" property="usefulLifeMonth"/>
        <result column="UsefulLifeDay" property="usefulLifeDay"/>
        <result column="Comment" property="comment"/>
        <result column="recPrice" property="recPrice"/>
        <result column="deleted" property="deleted"/>
        <result column="costmode" property="costmode"/>
        <result column="Namepy" property="namepy"/>
        <result column="warnup" property="warnup"/>
        <result column="warndown" property="warndown"/>
        <result column="Rec" property="rec"/>
        <result column="ParRec" property="parRec"/>
        <result column="barcode" property="barcode"/>
        <result column="preprice5" property="preprice5"/>
        <result column="preprice6" property="preprice6"/>
        <result column="disrecprice" property="disrecprice"/>
        <result column="uselistcode" property="uselistcode"/>
        <result column="OrderNo" property="orderNo"/>
        <result column="LastOperaterID" property="lastOperaterID"/>
        <result column="LastOperatDay" property="lastOperatDay"/>
        <result column="AssistConfig" property="assistConfig"/>
        <result column="SerialConfig" property="serialConfig"/>
        <result column="Price7" property="price7"/>
        <result column="Price8" property="price8"/>
        <result column="Price9" property="price9"/>
        <result column="Price10" property="price10"/>
        <result column="GoodsProp" property="goodsProp"/>
        <result column="WLType" property="wLType"/>
        <result column="WLSource" property="wLSource"/>
        <result column="MRPCalc" property="mRPCalc"/>
        <result column="BeforeDay" property="beforeDay"/>
        <result column="DefaultStock" property="defaultStock"/>
        <result column="MaxOrder" property="maxOrder"/>
        <result column="MinOrder" property="minOrder"/>
        <result column="MaxStock" property="maxStock"/>
        <result column="MinStock" property="minStock"/>
        <result column="ClassP2" property="classP2"/>
        <result column="Btypeid" property="btypeid"/>
        <result column="Safedaycount" property="safedaycount"/>
        <result column="MinSalePrice" property="minSalePrice"/>
        <result column="Brandtypeid" property="brandtypeid"/>
        <result column="price90" property="price90"/>
        <result column="OtherPrice" property="otherPrice"/>
        <result column="IsTaxPrice" property="isTaxPrice"/>
        <result column="GoodsOrder" property="goodsOrder"/>
        <result column="Custom1" property="custom1"/>
        <result column="Custom2" property="custom2"/>
        <result column="UnitOther" property="unitOther"/>
        <result column="UpdateTag" property="updateTag"/>
        <result column="CheckCustom" property="checkCustom"/>
        <result column="Custom3" property="custom3"/>
        <result column="Custom4" property="custom4"/>
        <result column="Custom5" property="custom5"/>
        <result column="KtypeId" property="ktypeId"/>
        <result column="WorkShop" property="workShop"/>
        <result column="SafeQty" property="safeQty"/>
        <result column="CostPrice" property="costPrice"/>
        <result column="BeforeDate" property="beforeDate"/>
        <result column="PObject" property="pObject"/>
        <result column="QuotePrice" property="quotePrice"/>
        <result column="WorkPlanVchCode" property="workPlanVchCode"/>
        <result column="bBlockNo" property="bBlockNo"/>
        <result column="bCustom1" property="bCustom1"/>
        <result column="bCustom2" property="bCustom2"/>
        <result column="RefPrice" property="refPrice"/>
        <result column="ManSerialNum" property="manSerialNum"/>
        <result column="bPurchase" property="bPurchase"/>
        <result column="bProduce" property="bProduce"/>
        <result column="bConsign" property="bConsign"/>
        <result column="bCustom3" property="bCustom3"/>
        <result column="bCustom4" property="bCustom4"/>
        <result column="Unit3" property="unit3"/>
        <result column="UnitFz" property="unitFz"/>
        <result column="bReceive" property="bReceive"/>
        <result column="DefInUnit" property="defInUnit"/>
        <result column="DefOutUnit" property="defOutUnit"/>
        <result column="Barcode1" property="barcode1"/>
        <result column="Barcode2" property="barcode2"/>
        <result column="Comment1" property="comment1"/>
        <result column="Comment2" property="comment2"/>
        <result column="Comment3" property="comment3"/>
        <result column="Comment4" property="comment4"/>
        <result column="Comment5" property="comment5"/>
        <result column="Comment6" property="comment6"/>
        <result column="Comment7" property="comment7"/>
        <result column="Comment8" property="comment8"/>
        <result column="Tax" property="tax"/>
        <result column="ShelfLife" property="shelfLife"/>
        <result column="TakeOut" property="takeOut"/>
        <result column="ProduceBeforeDay" property="produceBeforeDay"/>
        <result column="ConsignBeforeDay" property="consignBeforeDay"/>
        <result column="WeiWaiTax" property="weiWaiTax"/>
        <result column="DefPandianUnit" property="defPandianUnit"/>
        <result column="InputNo" property="inputNo"/>
        <result column="CreateTime" property="createTime"/>
        <result column="ModifyPerson" property="modifyPerson"/>
        <result column="ModifyDate" property="modifyDate"/>
        <result column="NRefPrice" property="nRefPrice"/>
        <result column="NCostPrice" property="nCostPrice"/>
        <result column="PushRec" property="pushRec"/>
        <result column="CalcPeriod" property="calcPeriod"/>
        <result column="ReportCalcPeriod" property="reportCalcPeriod"/>
        <result column="VeriMode" property="veriMode"/>
        <result column="VeriRate" property="veriRate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        typeId, ParId, leveal, sonnum, soncount, CanModify, UserCode, FullName, Name, Standard, Type, Area, Unit1,
        Unit2, UnitRate1, UnitRate2, preprice1, preprice2, preprice3, preprice4, UsefulLifeMonth, UsefulLifeDay, Comment
        , recPrice, deleted, costmode, Namepy, warnup, warndown, Rec, ParRec, barcode, preprice5, preprice6,
        disrecprice, uselistcode, OrderNo, LastOperaterID, LastOperatDay, AssistConfig, SerialConfig, Price7, Price8,
        Price9, Price10, GoodsProp, WLType, WLSource, MRPCalc, BeforeDay, DefaultStock, MaxOrder, MinOrder, MaxStock,
        MinStock, ClassP2, Btypeid, Safedaycount, MinSalePrice, Brandtypeid, price90, OtherPrice, IsTaxPrice,
        GoodsOrder, Custom1, Custom2, UnitOther, UpdateTag, CheckCustom, Custom3, Custom4, Custom5, KtypeId, WorkShop,
        SafeQty, CostPrice, BeforeDate, PObject, QuotePrice, WorkPlanVchCode, bBlockNo, bCustom1, bCustom2, RefPrice,
        ManSerialNum, bPurchase, bProduce, bConsign, bCustom3, bCustom4, Unit3, UnitFz, bReceive, DefInUnit, DefOutUnit,
        Barcode1, Barcode2, Comment1, Comment2, Comment3, Comment4, Comment5, Comment6, Comment7, Comment8, Tax,
        ShelfLife, TakeOut, ProduceBeforeDay, ConsignBeforeDay, WeiWaiTax, DefPandianUnit, InputNo, CreateTime,
        ModifyPerson, ModifyDate, NRefPrice, NCostPrice, PushRec, CalcPeriod, ReportCalcPeriod, VeriMode, VeriRate
    </sql>

</mapper>
