<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.kaishi.infrastructure.db.ksplus.mapper.base.EmployeeAssociationInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="thriving.softwood.kaishi.infrastructure.db.ksplus.entity.base.EmployeeAssociationInfo">
        <id column="id" property="id" />
        <result column="login_account" property="loginAccount" />
        <result column="ori_fullname" property="oriFullname" />
        <result column="employee_typeid" property="employeeTypeid" />
        <result column="employee_user_code" property="employeeUserCode" />
        <result column="login_employee_typeid" property="loginEmployeeTypeid" />
        <result column="login_user_code" property="loginUserCode" />
        <result column="ext_info" property="extInfo" />
        <result column="deleted" property="deleted" />
        <result column="last_modifier" property="lastModifier" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_account, ori_fullname, employee_typeid, employee_user_code, login_employee_typeid, login_user_code, ext_info, deleted, last_modifier, create_time, update_time
    </sql>

</mapper>
