<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.kaishi.infrastructure.db.kaishi2026.mapper.base.BtypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="thriving.softwood.kaishi.infrastructure.db.kaishi2026.entity.base.Btype">
        <result column="typeId" property="typeId"/>
        <result column="parid" property="parid"/>
        <result column="leveal" property="leveal"/>
        <result column="soncount" property="soncount"/>
        <result column="sonnum" property="sonnum"/>
        <result column="UserCode" property="userCode"/>
        <result column="FullName" property="fullName"/>
        <result column="Name" property="name"/>
        <result column="Area" property="area"/>
        <result column="TelAndAddress" property="telAndAddress"/>
        <result column="PostCode" property="postCode"/>
        <result column="Person" property="person"/>
        <result column="TaxNumber" property="taxNumber"/>
        <result column="BankAndAcount" property="bankAndAcount"/>
        <result column="Comment" property="comment"/>
        <result column="ARTotal" property="aRTotal"/>
        <result column="APTotal" property="aPTotal"/>
        <result column="ARTotal00" property="aRTotal00"/>
        <result column="APTotal00" property="aPTotal00"/>
        <result column="deleted" property="deleted"/>
        <result column="Namepy" property="namepy"/>
        <result column="Rec" property="rec"/>
        <result column="ParRec" property="parRec"/>
        <result column="isclient" property="isclient"/>
        <result column="arlimit" property="arlimit"/>
        <result column="aplimit" property="aplimit"/>
        <result column="AreaTypeID" property="areaTypeID"/>
        <result column="otherar" property="otherar"/>
        <result column="otherap" property="otherap"/>
        <result column="arsaletax" property="arsaletax"/>
        <result column="apbuytax" property="apbuytax"/>
        <result column="preprice" property="preprice"/>
        <result column="fax" property="fax"/>
        <result column="otherar00" property="otherar00"/>
        <result column="otherap00" property="otherap00"/>
        <result column="arsaletax00" property="arsaletax00"/>
        <result column="apbuytax00" property="apbuytax00"/>
        <result column="SendGoods" property="sendGoods"/>
        <result column="SendGoods00" property="sendGoods00"/>
        <result column="SendGoodsJ" property="sendGoodsJ"/>
        <result column="SendGoodsJ00" property="sendGoodsJ00"/>
        <result column="OrderNo" property="orderNo"/>
        <result column="LastOperaterID" property="lastOperaterID"/>
        <result column="LastOperatDay" property="lastOperatDay"/>
        <result column="RDate" property="rDate"/>
        <result column="BankAcount" property="bankAcount"/>
        <result column="Email" property="email"/>
        <result column="PreApTotal00" property="preApTotal00"/>
        <result column="PreARTotal00" property="preARTotal00"/>
        <result column="PreARTotal" property="preARTotal"/>
        <result column="PreAPTotal" property="preAPTotal"/>
        <result column="UpdateTag" property="updateTag"/>
        <result column="EtypeID" property="etypeID"/>
        <result column="isWeiWai" property="isWeiWai"/>
        <result column="WeiWaiAPTotal00" property="weiWaiAPTotal00"/>
        <result column="WeiWaiPreAPTotal00" property="weiWaiPreAPTotal00"/>
        <result column="WeiWaiAPTotal" property="weiWaiAPTotal"/>
        <result column="WeiWaiPreAPTotal" property="weiWaiPreAPTotal"/>
        <result column="PrePriceType" property="prePriceType"/>
        <result column="AttnID" property="attnID"/>
        <result column="TaxRegNum" property="taxRegNum"/>
        <result column="SettleBtypeId" property="settleBtypeId"/>
        <result column="Mobile" property="mobile"/>
        <result column="Comment1" property="comment1"/>
        <result column="Comment2" property="comment2"/>
        <result column="Comment3" property="comment3"/>
        <result column="Comment4" property="comment4"/>
        <result column="Comment5" property="comment5"/>
        <result column="Comment6" property="comment6"/>
        <result column="Comment7" property="comment7"/>
        <result column="Comment8" property="comment8"/>
        <result column="SettleMode" property="settleMode"/>
        <result column="InputNo" property="inputNo"/>
        <result column="CreateTime" property="createTime"/>
        <result column="ModifyPerson" property="modifyPerson"/>
        <result column="ModifyDate" property="modifyDate"/>
        <result column="PushRec" property="pushRec"/>
        <result column="bNoArLimit" property="bNoArLimit"/>
        <result column="OtherAPTotal" property="otherAPTotal"/>
        <result column="OtherAPTotal00" property="otherAPTotal00"/>
        <result column="OtherARTotal" property="otherARTotal"/>
        <result column="OtherARTotal00" property="otherARTotal00"/>
        <result column="Descript" property="descript"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        typeId, parid, leveal, soncount, sonnum, UserCode, FullName, Name, Area, TelAndAddress, PostCode, Person, TaxNumber, BankAndAcount, Comment
        , ARTotal, APTotal, ARTotal00, APTotal00, deleted, Namepy, Rec, ParRec, isclient, arlimit, aplimit, AreaTypeID, otherar, otherap, arsaletax, apbuytax, preprice, fax, otherar00, otherap00, arsaletax00, apbuytax00, SendGoods, SendGoods00, SendGoodsJ, SendGoodsJ00, OrderNo, LastOperaterID, LastOperatDay, RDate, BankAcount, Email, PreApTotal00, PreARTotal00, PreARTotal, PreAPTotal, UpdateTag, EtypeID, isWeiWai, WeiWaiAPTotal00, WeiWaiPreAPTotal00, WeiWaiAPTotal, WeiWaiPreAPTotal, PrePriceType, AttnID, TaxRegNum, SettleBtypeId, Mobile, Comment1, Comment2, Comment3, Comment4, Comment5, Comment6, Comment7, Comment8, SettleMode, InputNo, CreateTime, ModifyPerson, ModifyDate, PushRec, bNoArLimit, OtherAPTotal, OtherAPTotal00, OtherARTotal, OtherARTotal00, Descript
    </sql>

</mapper>
