<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.kaishi.infrastructure.db.kaishi2026.mapper.base.DlyBuyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="thriving.softwood.kaishi.infrastructure.db.kaishi2026.entity.base.DlyBuy">
        <result column="Vchcode" property="vchcode"/>
        <result column="atypeid" property="atypeid"/>
        <result column="btypeid" property="btypeid"/>
        <result column="etypeid" property="etypeid"/>
        <result column="ktypeid" property="ktypeid"/>
        <result column="PtypeId" property="ptypeId"/>
        <result column="Qty" property="qty"/>
        <result column="discount" property="discount"/>
        <result column="DiscountPrice" property="discountPrice"/>
        <result column="costtotal" property="costtotal"/>
        <result column="costprice" property="costprice"/>
        <result column="Blockno" property="blockno"/>
        <result column="price" property="price"/>
        <result column="total" property="total"/>
        <result column="Prodate" property="prodate"/>
        <result column="TaxPrice" property="taxPrice"/>
        <result column="TaxTotal" property="taxTotal"/>
        <result column="comment" property="comment"/>
        <result column="date" property="date"/>
        <result column="usedtype" property="usedtype"/>
        <result column="period" property="period"/>
        <result column="tax_total" property="taxTotal"/>
        <result column="tax" property="tax"/>
        <result column="discounttotal" property="discounttotal"/>
        <result column="Vchtype" property="vchtype"/>
        <result column="redword" property="redword"/>
        <result column="dlyorder" property="dlyorder"/>
        <result column="unit" property="unit"/>
        <result column="PDETAIL" property="pdetail"/>
        <result column="SourceDlyOrder" property="sourceDlyOrder"/>
        <result column="Toqty" property="toqty"/>
        <result column="RedOld" property="redOld"/>
        <result column="UserDefined01" property="userDefined01"/>
        <result column="UserDefined02" property="userDefined02"/>
        <result column="WLDZ" property="wldz"/>
        <result column="QtyOther" property="qtyOther"/>
        <result column="FreeDom01" property="freeDom01"/>
        <result column="FreeDom02" property="freeDom02"/>
        <result column="FreeDom03" property="freeDom03"/>
        <result column="FreeDom04" property="freeDom04"/>
        <result column="FreeDom05" property="freeDom05"/>
        <result column="FreeDom06" property="freeDom06"/>
        <result column="FreeDom07" property="freeDom07"/>
        <result column="FreeDom08" property="freeDom08"/>
        <result column="FreeDom09" property="freeDom09"/>
        <result column="FreeDom10" property="freeDom10"/>
        <result column="ToOutQty" property="toOutQty"/>
        <result column="InNumber" property="inNumber"/>
        <result column="InVchCode" property="inVchCode"/>
        <result column="InVchType" property="inVchType"/>
        <result column="InDlyorder" property="inDlyorder"/>
        <result column="SourceVchcode" property="sourceVchcode"/>
        <result column="SourceVchtype" property="sourceVchtype"/>
        <result column="RowNo" property="rowNo"/>
        <result column="ProjectID" property="projectID"/>
        <result column="Appoint" property="appoint"/>
        <result column="Draft" property="draft"/>
        <result column="FeeTotal" property="feeTotal"/>
        <result column="CalcCostOrder" property="calcCostOrder"/>
        <result column="FreeDom11" property="freeDom11"/>
        <result column="FreeDom12" property="freeDom12"/>
        <result column="FreeDom13" property="freeDom13"/>
        <result column="FreeDom14" property="freeDom14"/>
        <result column="FreeDom15" property="freeDom15"/>
        <result column="FreeDom16" property="freeDom16"/>
        <result column="FreeDomDateDif" property="freeDomDateDif"/>
        <result column="Custom3" property="custom3"/>
        <result column="Custom4" property="custom4"/>
        <result column="SourceVchtype2" property="sourceVchtype2"/>
        <result column="SourceVchcode2" property="sourceVchcode2"/>
        <result column="SourceDlyOrder2" property="sourceDlyOrder2"/>
        <result column="SettleBtypeId" property="settleBtypeId"/>
        <result column="BtypeOtherCode" property="btypeOtherCode"/>
        <result column="DetailSign" property="detailSign"/>
        <result column="ProduceDate" property="produceDate"/>
        <result column="IniInStockToQty" property="iniInStockToQty"/>
        <result column="IniInStockBackQty" property="iniInStockBackQty"/>
        <result column="InStockToQty" property="inStockToQty"/>
        <result column="InStockBackQty" property="inStockBackQty"/>
        <result column="InstockBackSign" property="instockBackSign"/>
        <result column="IniInstockToQtyOther" property="iniInstockToQtyOther"/>
        <result column="mtypeid" property="mtypeid"/>
        <result column="IniToFactQty" property="iniToFactQty"/>
        <result column="ParVchtype" property="parVchtype"/>
        <result column="BtypeOtherName" property="btypeOtherName"/>
        <result column="BtypeOtherStandardType" property="btypeOtherStandardType"/>
        <result column="AuditToQty" property="auditToQty"/>
        <result column="AuditInstockToQty" property="auditInstockToQty"/>
        <result column="ReturnReason" property="returnReason"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Vchcode, atypeid, btypeid, etypeid, ktypeid, PtypeId, Qty, discount, DiscountPrice, costtotal, costprice, Blockno, price, total, Prodate, TaxPrice, TaxTotal, comment
        , date, usedtype, period, tax_total, tax, discounttotal, Vchtype, redword, dlyorder, unit, PDETAIL, SourceDlyOrder, Toqty, RedOld, UserDefined01, UserDefined02, WLDZ, QtyOther, FreeDom01, FreeDom02, FreeDom03, FreeDom04, FreeDom05, FreeDom06, FreeDom07, FreeDom08, FreeDom09, FreeDom10, ToOutQty, InNumber, InVchCode, InVchType, InDlyorder, SourceVchcode, SourceVchtype, RowNo, ProjectID, Appoint, Draft, FeeTotal, CalcCostOrder, FreeDom11, FreeDom12, FreeDom13, FreeDom14, FreeDom15, FreeDom16, FreeDomDateDif, Custom3, Custom4, SourceVchtype2, SourceVchcode2, SourceDlyOrder2, SettleBtypeId, BtypeOtherCode, DetailSign, ProduceDate, IniInStockToQty, IniInStockBackQty, InStockToQty, InStockBackQty, InstockBackSign, IniInstockToQtyOther, mtypeid, IniToFactQty, ParVchtype, BtypeOtherName, BtypeOtherStandardType, AuditToQty, AuditInstockToQty, ReturnReason
    </sql>

</mapper>
