<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.kaishi.infrastructure.db.kaishi2026.mapper.base.DlystockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="thriving.softwood.kaishi.infrastructure.db.kaishi2026.entity.base.Dlystock">
        <result column="Vchcode" property="vchcode"/>
        <result column="btypeid" property="btypeid"/>
        <result column="etypeid" property="etypeid"/>
        <result column="ktypeid" property="ktypeid"/>
        <result column="PtypeId" property="ptypeId"/>
        <result column="Qty" property="qty"/>
        <result column="Blockno" property="blockno"/>
        <result column="Prodate" property="prodate"/>
        <result column="comment" property="comment"/>
        <result column="date" property="date"/>
        <result column="usedtype" property="usedtype"/>
        <result column="period" property="period"/>
        <result column="Vchtype" property="vchtype"/>
        <result column="dlyorder" property="dlyorder"/>
        <result column="unit" property="unit"/>
        <result column="SourceDlyOrder" property="sourceDlyOrder"/>
        <result column="ktypeid2" property="ktypeid2"/>
        <result column="SourceVchType" property="sourceVchType"/>
        <result column="UserDefined01" property="userDefined01"/>
        <result column="UserDefined02" property="userDefined02"/>
        <result column="FreeDom01" property="freeDom01"/>
        <result column="FreeDom02" property="freeDom02"/>
        <result column="FreeDom03" property="freeDom03"/>
        <result column="FreeDom04" property="freeDom04"/>
        <result column="FreeDom05" property="freeDom05"/>
        <result column="FreeDom06" property="freeDom06"/>
        <result column="FreeDom07" property="freeDom07"/>
        <result column="FreeDom08" property="freeDom08"/>
        <result column="FreeDom09" property="freeDom09"/>
        <result column="FreeDom10" property="freeDom10"/>
        <result column="SourceVchcode" property="sourceVchcode"/>
        <result column="RowNo" property="rowNo"/>
        <result column="Position" property="position"/>
        <result column="Position2" property="position2"/>
        <result column="Draft" property="draft"/>
        <result column="FreeDom11" property="freeDom11"/>
        <result column="FreeDom12" property="freeDom12"/>
        <result column="FreeDom13" property="freeDom13"/>
        <result column="FreeDom14" property="freeDom14"/>
        <result column="FreeDom15" property="freeDom15"/>
        <result column="FreeDom16" property="freeDom16"/>
        <result column="FreeDomDateDif" property="freeDomDateDif"/>
        <result column="QtyOther" property="qtyOther"/>
        <result column="Custom3" property="custom3"/>
        <result column="Custom4" property="custom4"/>
        <result column="BtypeOtherCode" property="btypeOtherCode"/>
        <result column="ProduceDate" property="produceDate"/>
        <result column="mtypeid" property="mtypeid"/>
        <result column="ParVchtype" property="parVchtype"/>
        <result column="BtypeOtherName" property="btypeOtherName"/>
        <result column="BtypeOtherStandardType" property="btypeOtherStandardType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Vchcode, btypeid, etypeid, ktypeid, PtypeId, Qty, Blockno, Prodate, comment
        , date, usedtype, period, Vchtype, dlyorder, unit, SourceDlyOrder, ktypeid2, SourceVchType, UserDefined01,
        UserDefined02, FreeDom01, FreeDom02, FreeDom03, FreeDom04, FreeDom05, FreeDom06, FreeDom07, FreeDom08,
        FreeDom09, FreeDom10, SourceVchcode, RowNo, Position, Position2, Draft, FreeDom11, FreeDom12, FreeDom13,
        FreeDom14, FreeDom15, FreeDom16, FreeDomDateDif, QtyOther, Custom3, Custom4, BtypeOtherCode, ProduceDate,
        mtypeid, ParVchtype, BtypeOtherName, BtypeOtherStandardType
    </sql>

</mapper>
