<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.kaishi.infrastructure.db.kaishi2026.mapper.base.MtypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="thriving.softwood.kaishi.infrastructure.db.kaishi2026.entity.base.Mtype">
        <result column="Typeid" property="typeid"/>
        <result column="parid" property="parid"/>
        <result column="leveal" property="leveal"/>
        <result column="sonnum" property="sonnum"/>
        <result column="soncount" property="soncount"/>
        <result column="Rec" property="rec"/>
        <result column="ParRec" property="parRec"/>
        <result column="FullName" property="fullName"/>
        <result column="UserCode" property="userCode"/>
        <result column="deleted" property="deleted"/>
        <result column="NAMEPY" property="namepy"/>
        <result column="OrderNo" property="orderNo"/>
        <result column="remark" property="remark"/>
        <result column="ZbLeiXing" property="zbLeiXing"/>
        <result column="UpdateTag" property="updateTag"/>
        <result column="PushRec" property="pushRec"/>
        <result column="BeginDate" property="beginDate"/>
        <result column="EndDate" property="endDate"/>
        <result column="GrossInCome" property="grossInCome"/>
        <result column="GrossOutCome" property="grossOutCome"/>
        <result column="BtypeId" property="btypeId"/>
        <result column="CustomerPerson" property="customerPerson"/>
        <result column="CustomerTel" property="customerTel"/>
        <result column="ContractNumber" property="contractNumber"/>
        <result column="ContractTotal" property="contractTotal"/>
        <result column="EtypeId" property="etypeId"/>
        <result column="ProjectId" property="projectId"/>
        <result column="TeamMembers" property="teamMembers"/>
        <result column="PlanCreateTime" property="planCreateTime"/>
        <result column="PlanUserOver" property="planUserOver"/>
        <result column="PlanYearClose" property="planYearClose"/>
        <result column="InputNo" property="inputNo"/>
        <result column="CreateTime" property="createTime"/>
        <result column="ModifyPerson" property="modifyPerson"/>
        <result column="ModifyDate" property="modifyDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Typeid, parid, leveal, sonnum, soncount, Rec, ParRec, FullName, UserCode, deleted, NAMEPY, OrderNo, remark,
        ZbLeiXing, UpdateTag, PushRec, BeginDate, EndDate, GrossInCome, GrossOutCome, BtypeId, CustomerPerson,
        CustomerTel, ContractNumber, ContractTotal, EtypeId, ProjectId, TeamMembers, PlanCreateTime, PlanUserOver,
        PlanYearClose, InputNo, CreateTime, ModifyPerson, ModifyDate
    </sql>

</mapper>
