<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thriving.softwood.kaishi.infrastructure.db.kaishi2026.mapper.base.StockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="thriving.softwood.kaishi.infrastructure.db.kaishi2026.entity.base.Stock">
        <result column="typeId" property="typeId"/>
        <result column="parid" property="parid"/>
        <result column="leveal" property="leveal"/>
        <result column="sonnum" property="sonnum"/>
        <result column="soncount" property="soncount"/>
        <result column="FullName" property="fullName"/>
        <result column="Name" property="name"/>
        <result column="UserCode" property="userCode"/>
        <result column="Comment" property="comment"/>
        <result column="deleted" property="deleted"/>
        <result column="Namepy" property="namepy"/>
        <result column="Rec" property="rec"/>
        <result column="ParRec" property="parRec"/>
        <result column="OrderNo" property="orderNo"/>
        <result column="UpdateTag" property="updateTag"/>
        <result column="bPosition" property="bPosition"/>
        <result column="AllowNegative" property="allowNegative"/>
        <result column="CreateDate" property="createDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        typeId, parid, leveal, sonnum, soncount, FullName, Name, UserCode, Comment
        , deleted, Namepy, Rec, ParRec, OrderNo, UpdateTag, bPosition, AllowNegative, CreateDate
    </sql>

</mapper>
